<th:block th:include="admin/header.html"></th:block>

<h1 class="block">Create User</h1>
<a href="./" class="btn btn-primary right">Back</a>
<br/>
<div class="form-group">
    <form method="post" action="./create" th:object="${user}">
        <label>Username: </label> <input type="text" th:field="*{name}" class="form-control">
        <p class="errortext" th:if="${#fields.hasErrors('name')}">The name must be between 2 and 50 characters long.</p>
        <label>Password:</label> <input type="password" th:field="*{password}" class="form-control">
        <p class="errortext" th:if="${#fields.hasErrors('password')}">The password must be between 8 and 250 characters long.</p>
        <label>Type:</label>  <select size="1" name="usertypeid" path="setUserTypeId" class="form-control"><option value="1">Administrator</option></select>
        <br/>
        <input type="submit" value="Create user" class="btn-primary form-control">
    </form>
</div>


<th:block th:include="admin/footer.html"></th:block>