<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
</head>
<body>
<h1>An admin error has occurred</h1>
<p>
    If you are a visitor, <a th:href="'http://it.dk/errorreport?publiccustomerinfo=5fefa35q3jkuafaefae'">please click here</a> and we will be notified about the error.<br/><br/>

    If you are the site owner, please contact our support team.<br/><br/>

    IT-Support<br/>
    <a href="mailto:support@it.dk">support@it.dk</a><br/>
    +45 32323222</p>
</body>
</html>