<th:block th:include="admin/header.html"></th:block>

<div style="width: 100%; height: 60px; display: block">
    <h1 class="headline">Create Movie</h1>
    <a href="./" class="button right">Back</a>
</div>


<div class="form-group" style="float: none; display: block; width: 100%;">
    <form method="post" action="./create" th:object="${movie}">
        <label>Name: </label> <input type="text" th:field="*{name}" class="form-control">
        <p class="errortext" th:if="${#fields.hasErrors('name')}">The name must be between 2 and 50 characters long.</p>
        <label>Genre:</label> <input type="text" th:field="*{genre}" class="form-control">
        <p class="errortext" th:if="${#fields.hasErrors('genre')}">The genre must be between 0 and 50 characters long.</p>
        <label>Length:</label>  <input type="text" th:field="*{length}" class="form-control">
        <p class="errortext" th:if="${#fields.hasErrors('Length')}">The length must be 0 and 50 characters long.</p>
        <br/>
        <input type="submit" value="Create movie" class="btn-primary form-control">
    </form>
</div>


<th:block th:include="admin/footer.html"></th:block>