<th:block th:include="admin/header.html"></th:block>

<h1>Delete Movie</h1>
<a href="./../" class="btn btn-primary right">Back</a>
<br/>
<p>You are about to delete this movie</p><p class="bold" th:text="${movie.getName()}"></p>
<p>Please confirm.</p>
<div class="form-group">
    <form method="post" action="./../delete">
        <input type="hidden" name="id" th:value="${movie.getId()}">
        <input type="submit" value="Delete" class="btn-primary form-control">
    </form>
</div>


<th:block th:include="admin/footer.html"></th:block>