<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sal 1</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.7.2/css/all.css}" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>    <link th:href="@{/css/webpage.css}" rel="stylesheet" />
    <link th:href="@{/css/webshop.css}" rel="stylesheet" />
    <link th:href="@{/css/morcms.css}" rel="stylesheet" />
</head>
<body>
<!Doctype html>
<html>
<style>

</style>

<body>

<h1>Button Group</h1>

<div class="btn-group" id="demo" onclick="setColor()">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
</div>
<br>
<br>
<div class="btn-group">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
</div>
<br>
<br>
<div class="btn-group">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
</div>
<br>
<br>
<div class="btn-group">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
</div>
<script>
    var count = 1;
    function setColor() {
        var property = document.getElementById("demo");
        if (count == 0) {
            property.style.backgroundColor = "#FFFFFF"
            count = 1;
        }
        else {
            property.style.backgroundColor = "#7FFF00"
            count = 0;
        }
    }
</script>

</body>
</html>

</body>
</html>